/* global styles */
.main-color {
    background-color: #4b543b;
}

.btn-primary {
    background-color: #4b543b;
    border-color: #4b543b;
}

.btn-primary:hover {
    background-color: #9AB87A;
    border-color: #9AB87A;
}

.btn-secondary {
    background-color: #9AB87A;
    border-color: #9AB87A;
}

.pagination .page-link {
    color: #4b543b; /* Change the color of the text and symbols */
}

.search-product {
    height: 60px;
}

.search-product button {
    height: 40px;
}

.navbar-brand {
    font-size: 2em;
    vertical-align: middle;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.hover-effect:hover {
    transform: scale(1.05); 
    transition: transform 0.2s; 
}

.card-active {
    border: 5px solid #9ab87a;
}

/* local styles */ 

.card-categories {
    width: 150px;
}


